<app-header
  (menuItemClick)="onMenuItemClick($event)"
  [mode]="mode"></app-header>
<app-session-list
  *ngIf="mode === 1"
  [sessions]="sessions"
  [scheduleDate]="scheduleDate"
  (dayClick)="onDayClick($event)"
  (sessionClick)="onSessionClick($event)"></app-session-list>
<app-speaker-list
  *ngIf="mode === 2"
  [speakers]="speakers"
  (speakerClick)="onSpeakerClick($event)"></app-speaker-list>
<app-session-details
  *ngIf="selectedSession"
  [session]="selectedSession"
  (backClick)="onBackFromSessionClick()"
  (speakerClick)="onSpeakerClick($event)"></app-session-details>
<app-speaker-details
  *ngIf="selectedSpeaker"
  [speaker]="selectedSpeaker"
  (backClick)="onBackFromSpeakerClick()"
  (sessionClick)="onSessionClick($event)"></app-speaker-details>
