<nav>
  <a (click)="onDayClick('2016-09-30')" [ngClass]="{ 'selected': scheduleDate === '2016-09-30'}">
    <span>Friday</span>
    <span>30th</span>
  </a>
  <a (click)="onDayClick('2016-10-01')" [ngClass]="{ 'selected': scheduleDate === '2016-10-01'}">
    <span>Saturday</span>
    <span>1st</span>
  </a>
</nav>
<section *ngIf="scheduleDate === '2016-09-30'">
  <article *ngFor="let session of fridaySessions" (click)="onSessionClick(session.id)">
    <h2>{{ session.name }}</h2>
    <span></span>
  </article>
</section>
<section *ngIf="scheduleDate === '2016-10-01'">
  <article *ngFor="let session of saturdaySessions" (click)="onSessionClick(session.id)">
    <h2>{{ session.name }}</h2>
    <span></span>
  </article>
</section>
